@import './variables.scss';
@import './common.scss';

.form {
    @extend .crud-form;
    flex: 1;
    margin-top: 0.1rem;
    border: 0.2rem solid $primary-color;
    border-radius: 1rem;
    flex-wrap: wrap;
}