.container {
    display: flex;
    min-height: 100vh;

    .main {
        flex: 1;
        display: flex;
    }

    .body {
        flex: 1;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

    .create-button {
        button {
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

