@import './variables.scss';

.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-secondary);

  .main {
    flex: 1;
    display: flex;
    margin-left: 0;
    background-color: var(--bg-primary);
  }

  .body {
    flex: 1;
    background-color: var(--bg-secondary);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  .create-button {
    button {
      @include btn-primary;
      cursor: pointer;
    }
  }
}

@include mobile {
  .container {
    flex-direction: column;
  }
}

@include tablet-up {
  .main {
    margin-left: 200px;
  }
}

