@import "./variables.scss";

.card-label {
    align-self: center;
    text-decoration: solid;
    font-size: larger;
    font-weight: bolder;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input {
        cursor: pointer;
    }

    .options {
        padding: 1rem;

        .option {
            margin: 0.5rem 1rem;
            padding: 0.7rem;
            border-radius: 1rem;
            color: white;
            background-color: #3A6EA5;
        }
    }
}


.studentCard {
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem 1rem;
    width: 100%;
    max-width: 800px;
    align-self: center;

    .p {
        padding: 0.5rem;
        text-align: center;
    }
    p:before{
        content: attr(data-label);
        padding: 0.5rem;
        white-space: nowrap;
        margin-right: 1rem;
        font-weight: bold;
    }
}
@media (max-width: 800px) {
    .studentCard {
        grid-template-columns: 1fr;
        width: 90vw;
    }

    .studentCard p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $primary-color;
        width: 100%;
        text-align: right;
    }

    .studentCard :last-child {
        border: none;
    }
}